.action-group{
    margin-top: 20px;
    margin-bottom: 20px;
}

  #selectedrowCount{
    margin-right: 20px;
}
  
  @media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }

    #selectedrowCount{
        display: none;
    }
  
    .mat-row { 
    
      align-items: start;
      padding: 8px 24px;
    }

    .action-group{
        margin-left: auto;
        margin-right: auto;
    }
  }
 
   