<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        KDV Oranı <strong>{{action}}</strong>
      </h3>
    </div>
  </div>
  <!--begin::Form-->
  <div class="kt-form">
    <div class="kt-portlet__body">
      <form  [formGroup]="vatRateAddForm">
      <div mat-dialog-content >
          
        <ng-template class="example-container" [ngIf]="action === 'Güncelle' || action ==='Ekle'">
        <mat-form-field  style="display: block;margin-top:15px;">
          <input placeholder="KDV Oranı Adı" type="text" matInput id="vatRateName" class="form-control"  formControlName="vatRateName" [(ngModel)]="local_data.vatRateName"   required>
          <mat-error *ngIf="vatRateAddForm.get('vatRateName').hasError('required') && vatRateAddForm.get('vatRateName').touched">KDV Adı Alanı Zorunludur</mat-error>
        </mat-form-field>
        <mat-form-field style="display: block;margin-top:15px;">
          <input placeholder="KDV Oranı Değeri" type="number" step="0.01" matInput id="vatRateValue" class="form-control"  formControlName="vatRateValue" [(ngModel)]="local_data.vatRateValue"   required>
          <mat-error *ngIf="vatRateAddForm.get('vatRateValue').hasError('required') && vatRateAddForm.get('vatRateValue').touched "> KDV Değeri Alanı Zorunludur</mat-error>
          <mat-error *ngIf="vatRateAddForm.get('vatRateValue').hasError('min') && vatRateAddForm.get('vatRateValue').touched"> Mininum "0" değerini alabilir.</mat-error>
          <mat-error *ngIf="vatRateAddForm.get('vatRateValue').hasError('max') && vatRateAddForm.get('vatRateValue').touched"> Maximum "1" değerini alabilir.</mat-error>

        </mat-form-field>      
      </ng-template>
      
      
      <ng-template  [ngIf]="action === 'Sil'"> 
          <b>{{local_data.vatRateName}}</b> Oranını Silmek İstediğinizden Emin Misiniz ??
        </ng-template>
       
       
        <ng-template [ngIf]="action === 'Detaylar'">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Id" disabled value="{{local_data.id}}">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Kdv Oranı Adı" disabled value="{{local_data.vatRateName}}">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Kdv Oranı Değeri" disabled value="{{local_data.vatRateValue}}">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Oluşturan" disabled value="{{local_data.createdBy}}">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Oluşturma Tarihi" disabled value="{{local_data.createDate | date: 'dd/MM/yyyy HH:mm'}}">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Günceleyen" disabled value="{{local_data.modifiedBy}}">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Güncelleme Tarihi" disabled value="{{local_data.modifiedDate  | date: 'dd/MM/yyyy HH:mm'}}">
          </mat-form-field>
        </ng-template>
      </div>

    </form>
    </div>
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
        <button  style="margin-right: 10px;" color="accent" mat-raised-button *ngIf="action !== 'Detaylar'" mat-button (click)="doAction()">{{action}}</button>
        <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Kapat</button>
      </div>
    </div>
  </div>

  <!--end::Form-->
</div>